{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "useTabs": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "semi": true
}